img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
}

.img__container {
    position: absolute;
    top: 14%;
    z-index: 5;

    width: 310px;
    height: 230px;

    left: 205%;

}
