@import "../../../config-scss/rem-calc.scss";

div {
    width: 25%;
    height: 30px;
    background-color: rgb(59, 59, 60);
    position: absolute;
    top: 14vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
:host {
    form {
        width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: rem-calc(15) rem-calc(15);
    background-color: rgba(255,255,255,.20);
    border-radius: rem-calc(10);
    backdrop-filter: blur( 2px );

    input {
        width: 90%;
        background: none;
        border: none;
        font-size: rem-calc(18);
        color: var(--branco);

        &::placeholder{
            color: #fff;
        }

        &:focus {
            outline: none;
            border-bottom: 1px solid rgba(255, 0, 0, 0.489) ;
        }
    }
}
}
